<div class="container">
  <!-- No data message -->
  <h3>My Profile</h3>
  <!-- Employee list -->
  <table class="table table-bordered" >
    <thead class="table-success">
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Number</th>
      <!--  <th scope="col">Password</th> -->
        <th scope="col">Status</th>
      <!--  <th scope="col">Password</th>-->
        <th scope="col center">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr >
      
        <td>{{Employee._id}}</td>
        <td>{{Employee.name}}</td>
        <td>{{Employee.email}}</td>
        <td>{{Employee.number}}</td>
    <!--    <td>{{Employee.password}}</td> -->
        <td>{{Employee.status}}</td>
        <!---<td>{{employee.password}}</td>-->
        <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/edit-employee/', Employee._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
        
        </td>
      </tr>
    </tbody>
  </table>
</div>